{% extends 'template.html' %}
{% block content %}
<div class="content">
	<img src="https://www.gravatar.com/avatar/9a41fa155c1129b0228e84a333de4320?s=160" alt="" title="Gravatar" id="prof" />
	<h3>Who am I?</h3>
	<p>
		I have recently graduated from <a href="http://shef.ac.uk">Sheffield University</a>, where I have spent the past four years studying for a Masters in Mathematics degree. I am currently employed at a local building society.
	</p>
	<h3>What is this?</h3>
	<p>
		This is just my small personal website. It currently just lists the <a href="{{ url_for('projects') }}">projects</a> I'm working on (or, that I've abandoned&hellip;).
	</p>
	<h3>Development</h3>
	<p>
		This site was developed by me (pictured) with <a href="http://python.org">Python</a> (using <a href="http://flask.pocoo.org">Flask</a>) and runs on a <abbr title="Virtual Private Server">VPS</abbr> running <a href="http://nginx.org">Nginx</a> on <a href="http://ubuntu.com/server">Ubuntu</a>.
	</p>
</div>
{% endblock %}