{% extends 'template.html' %}
{% block content %}
<div class="content">
	<div class="aboutbox">
		<div style="margin-left:10px;margin-bottom:10px;">
			<a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#114;&#112;&#64;&#114;&#111;&#119;&#97;&#110;&#112;&#97;&#114;&#107;&#101;&#114;&#46;&#99;&#111;&#109;'><img src="{{ url_for('static', filename='logo_email.png') }}" alt="" /><span id="email">&#114;&#112;&#64;&#114;&#111;&#119;&#97;&#110;&#112;&#97;&#114;&#107;&#101;&#114;&#46;&#99;&#111;&#109;</span></a>
		</div>
		<div style="margin-left:10px;margin-bottom:10px;">
			<a href="https://twitter.com/rowanparkeruk"><img src="{{ url_for('static', filename='logo_twitter.png') }}" alt="" /><span id="twt">twitter.com/rowanparkeruk</span></a>
		</div>
		<div style="margin-left:10px;">
			<a href="https://www.instagram.com/rowanparkeruk"><img src="{{ url_for('static', filename='logo_instagram.png') }}" alt="" /><span id="insta">instagram.com/rowanparkeruk</span></a>
		</div>
		</p>
	</div>
</div>
{% endblock %}