{% extends 'template.html' %}
{% block content %}
<div class="content">
	<h3>The Arithmetic-Geometric Mean</h3>
	<p>
		For my fourth-year masters project, I chose to write a paper on the arithmetic-geometric mean (AGM). More information can be found on the AGM at its <a href="http://en.wikipedia.org/wiki/Arithmetic%E2%80%93geometric_mean">Wikipedia page</a>. The final paper can be read <a href="_/shef-agm/agm.pdf">here</a>. Part of the project involves writing a Python script to calculate the AGM, and to approximate &pi; using it. The script has been uploaded <a href="https://bitbucket.org/rowanparkeruk/shef-agm">here</a>.
	</p>
	<h3>Fair Cake Division</h3>
	<p>
		For a third-year group project, three friends and I wrote a paper on fair division (see <a href="http://en.wikipedia.org/wiki/Fair_division">here</a> for more info). The paper is available <a href="http://php.rowanparker.com/cake/FairDivision_FinalPaper.pdf">here</a> and the script (and its source) can be seen in action <a href="http://php.rowanparker.com/cake">here</a>. (This server doesn't run PHP so it's provided by a reverse proxy on a somewhat unreliable server.)
	</p>
	<h3 style="font-style:italic">This Website</h3>
	<p>
		Since this website has been created in Python (with Flask), I have uploaded the source to bitbucket &mdash; <a href="https://bitbucket.org/rowanparkeruk/com-pysite">here</a>.
	</p>
</div>
{% endblock %}
