<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% if title %}
		<title>RowanParker.com | {{ title }}</title>
	{% elif g.pages[request.path[1:]] %}
		<title>RowanParker.com | {{ g.pages[request.path[1:]] }}</title>
	{% else %}
		<title>RowanParker.com</title>
	{% endif %}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
</head>
<body>
	<div class="header">
		<h1><a href="{{ url_for('about') }}"><img src="{{ url_for('static', filename='logo.png') }}" alt="RowanParker.com" id="logo" /></a></h1>

		<hr />
	</div>
	<div class="topblock">

	</div>
	<div class="menu">
		<ul class="menu">
			<li>
			{% for path,title in g.pages.items() %}
				{% if path[0] == '$' %}
					<a href="{{ path[1:] }}">{{ title }} </a>
				{% else %}
					<a href="/{{ path }}" {% if request.path.split('/')[1] == path %} class="current" {% endif %}>{{ title }}</a>
				{% endif %}
			{% endfor %}
			</li>
		</ul>
	</div>
	<div class="container">
		{% if title %}
			<h2>{{ title }}</h2>
		{% elif g.pages[request.path[1:]]  %}
			<h2>{{ g.pages[request.path[1:]] }}</h2>
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>
	<div class="footer">
		<hr />
		<a href="http://flask.pocoo.org"><img src="{{ url_for('static', filename='flask.png') }}" alt="Flask" class="powereds" /></a>
		<a href="http://nginx.org"><img src="{{ url_for('static', filename='nginx.png') }}" alt="Nginx" class="powereds" /></a>
		<a href="http://ubuntu.com/server"><img src="{{ url_for('static', filename='ubuntu.png') }}" alt="Ubuntu" class="powereds" /></a>
		<a href="http://validator.w3.org/check?uri=http%3A%2F%2F{{ request.host }}%2F{{ request.path[1:] }}">
			<img src="{{ url_for('static', filename='valid_html.png') }}" alt="" class="powereds" /></a>
		<a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2F{{ request.host }}%2F{{ request.path[1:] }}">
			<img src="{{ url_for('static', filename='valid_css.png') }}" alt="" class="powereds" /></a>
		<br />
		{{ request.access_route[0] }} requested {{ request.host }}{{ request.path }} at <span title="Server Time is GMT/BST">{{ request.rp_time }} on {{ request.rp_date }}</span>
		<br />
		<span id="copy">&copy; Rowan Parker 2006&ndash;{{ request.rp_year }}</span>
	</div>
</body>
</html>