@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu.ttf') format('truetype');
}
html {
	background-color: #fafafa;
	background-image: url('bg.png');
}
body {
	margin: 0 auto;
	width: 850px;
	font-family: 'Ubuntu','Arial';
	background-color: #fafafa;
}

div.header {
	clear: both;
	text-align: left;
}
div.topblock {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 115px;
	background-color: #fafafa;
	z-index: -1;
}
.header h1 {
	display: inline;
}
#logo {
	margin: 30px 0px 0px 50px;
}
#prof {
	border-width: 3px;
	border-style: double;
	border-color: #339736;
	margin: 0px 10px 0px 10px;
	float: right;
}

a > img {
	border-width: 0px;
}

div.footer {
	clear: both;
	font-size: 0.7em;
	text-align: center;
	margin-bottom: 10px;
}
div.container {
	float: right;
	clear: left;
	width: 660px;
	text-align: left;
	min-height: 300px;
	margin-bottom: 10px;
}

div.menu {
	float: right;
	clear: right;
	width: 160px;
	/*margin: 38px 10px 10px 10px;*/	/*This is to line up with the main box.*/
	margin: 10px;						/*This is to go at the top.*/
	background-color: #339736;
	text-align: center;
	font-size: 1.2em;
	font-variant: small-caps;
	font-weight: bold;
}
.menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.menu a {
	text-decoration: none;
	font-style: normal;
	padding: 3px 0px;
	display: block;
	color: #ffffff;
}
.menu a:active, .menu a:hover, .menu a:focus {
	background-color: #2d6630;
	text-decoration: none;
}
a.current {
	color: yellow;
}
div.content {
	text-align: justify;
}
div.aboutbox {
	margin-left: 10px;
}
div.aboutbox img {
	padding-right: 10px;
}
div.aboutbox a {
	text-decoration: none;
	border-bottom: none;
	font-weight: bold;
}
div.aboutbox a:hover, div.aboutbox a:focus {
	border-bottom: none;
}
div.aboutbox span {
	position: relative;
	top: -23px;
}
hr {
	color: #339736;
}
img.powereds {
	height: 25px;
}
#statuscake {
	margin-top: 3px;
}

#fb { color: #405a9b; }
#twt { color: #1ca0d6; }
#email { color: #2d2d2d; }
#insta { color: #4e799e; }
#copy {
	font-weight: 600;
	font-size: 1.2em;
}
h2 {
	margin-top: 10px;
	margin-left: 50px;
	font-variant: small-caps;
	text-decoration: underline;
	font-size: 2.1em;
}
h3 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.container a {
	text-decoration: none;
	border-bottom: 1px #2d6630 dotted;
	color: #2d6630;
}
.container a:hover, .container a:focus {
	color: red;
	border-bottom: 1px red dotted;
}
p {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}